/* for etch a sketch */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo Paaji 2', cursive;
    
}

body{
    height: 100vh;
    background-image: linear-gradient(to top, rgb(49, 207, 255) 0%, rgb(138, 255, 134));
}

/* TOP PART START */
#top >*{
    text-align: center;
    margin-block: 30px;
}
#top h1{
    font-size: 42px;
}
#top p{
    font-size: 26px;
}
/* TOP PART END */


.container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin-inline: auto;
    width: min(90%, 1000px); /*stops growing after 1100px.. so y(100%-x%)???*/
}

/* @media(min-width: 850px){
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-inline: auto;
    }
} */


#control-box{
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
    padding: 20px;
    margin-right: 50px;
    border: 2px solid white;
}

button{
    width: 150px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.sketch{
    display: flex;
    border: 2px solid black;
    width: 450px;
    height: 450px;
    flex-flow: row wrap;
}

@media(min-width: 1000px){     /*add more here when breaking through 1000px*/
    .sketch{
        display: flex;
        grid: 2px solid black;
        width: 600px;
        height: 600px;
        flex-flow: row wrap;
    }
}

.grid{
    background-color: white;   
}