/* for etch a sketch */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo Paaji 2', cursive;
    
}

body{
    height: 100vh;
    background-image: linear-gradient(to top, rgb(49, 207, 255) 0%, rgb(138, 255, 134));
}

/* TOP PART START */
#top >*{
    text-align: center;
}
#top h1{
    font-size: 42px;
}
#top p{
    font-size: 26px;
    margin-bottom: 26px;
}
/* TOP PART END */


.container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin-inline: auto;
    width: min(90%, 1000px); /*stops growing after 1100px.. so y(100%-x%)???*/
}

/* @media(min-width: 850px){
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-inline: auto;
    }
} */


#control-box{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-flow: column nowrap;
    padding: 20px;
    margin-right: 50px;
}

button{
    width: 150px;
    background-color: transparent;
    border: 2px solid rgb(126, 126, 126);
    border-radius: 5px;
    cursor: pointer;
}
#grid-control button{
    width: 60px;
    border: none;
    cursor: pointer; 
    font-size: 28px;  
}

/*START FOR COLOR PICKER*/
input[type='color']{
    -webkit-appearance: none;
	width: 40px;
	height: 40px;
	border: none;
    background-color: transparent; /*to remove grey background*/

}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px;  
}
input[type="color"]::-webkit-color-swatch {  /*responsible for swatch */
	border: 2px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

/*END FOR COLOR PICKER*/

/* testing color */
/* button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */
/* testing color picker */



.sketch{
    display: flex;
    border: 1px solid rgb(126, 126, 126);
    width: 450px;
    height: 450px;
    flex-flow: row wrap;
}

@media(min-width: 1000px){     /*add more here when breaking through 1000px*/
    .sketch{
        display: flex;
        border: 1px solid rgb(126, 126, 126);
        width: 600px;
        height: 600px;
        flex-flow: row wrap;
    }
}

.grid{
    background-color: white;   
}


.active{
    border: 2px solid black;
    transform: scale(1.1);
    background-color: rgba(255, 0, 0, 0.418);
}